{% extends 'base.html' %}
{% load staticfiles %}

{%block title%}CONTACTO{%endblock%}
{%block h1%}
	<h1>CONTACTO</h1>
{%endblock%}

{%block content%}
{% if enviar %}
	Gracias por Enviar la siguiente Información<br/>
	<p>{{email}}</p>
	<p>{{titulo}}</p>
	<p>{{texto}}</p>
{% else %}
	<form action="" method="POST" class="form-horizontal" role="form"> {% csrf_token %}
		{% include 'ventas/formSnipet.html' %}
		<input type="submit" value="Enviar" class="btn btn-primary">
	</form>
{%endif%}
{%endblock%}
